<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.mapper.DeptMapper">

    <resultMap id="BaseResultMap" type="com.company.join.Dept">
        <id property="did" column="did" jdbcType="INTEGER"/>
        <result property="deptName" column="dept_name" jdbcType="VARCHAR"/>
    </resultMap>
    <insert id="addDept" useGeneratedKeys="true" keyProperty="did">
        insert into Library.dbo.dept
        values (#{deptName})
    </insert>
    <update id="updateDeptNameById">
        update Library.dbo.dept
        set dept_name=#{deptName}
        where did = #{did}
    </update>
    <delete id="deleteDeptById">
        delete
        from Library.dbo.dept
        where did = #{did}
    </delete>
    <select id="getDeptById" resultType="com.company.join.Dept">
        select did, dept_name
        from Library.dbo.dept
        where did = #{did}
    </select>
    <select id="getAllDept" resultType="com.company.join.Dept">
        select did, dept_name
        from Library.dbo.dept
    </select>

</mapper>
